
  body {
    background: var(--light-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    .appointment {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
  }
  
  .appointment {
    .container {
      background-color: var(--white);
      h3 {
        border-bottom: 0.12rem solid var(--light-grey);
        color: var(--blue);
        padding: 1rem 0;
        margin: 0;
      }
      .appointment-details {
        padding: 1.25rem 0.75rem;
        .appointment-details-list{
            #date-details{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 1.5rem;
                .main{
                    font-size: 1.25rem;
                    color:var(--dark-blue);
                    font-family: nexa-bold;
                    margin-bottom: 0.5rem;
                    text-align: left;
                    width: 100% !important;
                }
                input{
                    border: 0.12rem solid var(--light-grey);
                    color:var(--grey);
                    font-size: 1rem;
                    color:var(--grey);
                    margin: 0;
                }
            }
            #time-details{
                display:grid;
                grid-template-columns: 1rem 1fr;
                margin-bottom: 1.5rem;
                grid-template-areas: 
                "time time"
                "option1 label1"
                "option2 label2"
                "option3 label3";
                text-align: left;
                grid-gap:   0.5rem 1rem;
                .main{
                    grid-area: time;
                    font-size: 1.25rem;
                    color:var(--dark-blue);
                    font-family: nexa-bold;
                    text-align: left;
                    width: 100% !important;
                }
                input[type=radio]{
                    border:var(--dark-blue);
                    margin:0;
                    display: flex;
                    align-self: center;
                }
                #option-time-1{
                    grid-area: option1;
                }
                #option-time-2{
                    grid-area: option2;
                }
                #option-time-3{
                    grid-area: option3;
                }
                .label1{
                    grid-area: label1;
                    color:var(--dark-blue);
                }
                .label2{
                    grid-area: label2;
                    color:var(--dark-blue);
                }
                .label3{
                    grid-area: label3;
                    color:var(--dark-blue);
                }
            }
            #status-details{
                display:grid;
                grid-template-columns: 1rem 1fr;
                margin-bottom: 1.5rem;
                grid-template-areas: 
                "time time"
                "option1 label1"
                "option2 label2"
                "option3 label3"
                "option4 label4";
                text-align: left;
                grid-gap:   0.5rem 1rem;
                .main{
                    grid-area: time;
                    font-size: 1.25rem;
                    color:var(--dark-blue);
                    font-family: nexa-bold;
                    text-align: left;
                    width: 100% !important;
                }
                input[type=radio]{
                    border:var(--dark-blue);
                    margin:0;
                    display: flex;
                    align-self: center;
                }
                #option-status-1{
                    grid-area: option1;
                }
                #option-status-2{
                    grid-area: option2;
                }
                #option-status-3{
                    grid-area: option3;
                }
                .label1{
                    grid-area: label1;
                    color:var(--dark-blue);
                }
                .label2{
                    grid-area: label2;
                    color:var(--dark-blue);
                }
                .label3{
                    grid-area: label3;
                    color:var(--dark-blue);
                }
                .label4{
                    grid-area: label4;
                    color:var(--dark-blue);
                }
            }
            #health-details{
                text-align: left;
                margin-bottom: 1.5rem;
                .main{
                    grid-area: time;
                    font-size: 1.25rem;
                    color:var(--dark-blue);
                    font-family: nexa-bold;
                    text-align: left;
                    width: 100% !important;
                }
                .inputBox{
                    margin-top: 0.5rem;
                    display: flex;
                    align-items: center;
                    span{
                        font-family: nexa-light;
                        margin-left: 1rem;
                        color: var(--dark-blue);
                    }
                }
            }
            #textarea{
                text-align: left;
                margin-bottom: 1.5rem;
                .main{
                    grid-area: time;
                    font-size: 1.25rem;
                    color:var(--dark-blue);
                    font-family: nexa-bold;
                    text-align: left;
                    width: 100% !important;
                }
                textarea{
                    margin: 0.5rem 0 0 0;
                }
            }
        }
        #accent-btn {
          font-family: nexa-bold;
          letter-spacing: 0.125rem;
          width: 100%;
          position: relative;
          &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f061";
            font-weight: 700;
            position: absolute;
            right: 0;
            padding: 0 0.5rem 0 0;
          }
        }
        span {
          font-size: 1rem;
  
          a {
            color: var(--blue);
          }
        }
      }
    }
  }
  
  footer {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
    span {
      padding: 0rem 0.8rem 1.5rem;
      font-size: 1rem;
      color: var(--dark-blue);
      display: flex;
      justify-content: center;
    }
  }
  
  @media only screen and (min-width:768px) and (max-width:1024px){
      .appointment{
          h3{
              padding: 1.25rem !important;
          }
          width:80%;
          margin: auto;
          .appointment-details{
              padding: 1.5rem !important;
          }
      }
  }
  
  @media only screen and (min-width:1025px) and (max-width:1350x){
      .appointment{
        h3{
            padding: 1.5rem !important;
        }
          width:50%;
          margin: auto;
          .appointment-details{
            padding: 1.75rem !important;
        }
    }
}
      
  
  @media only screen and (min-width:1351px){
      .appointment{
          width:45%;
          margin: auto;
          h3{
              padding: 1.75rem !important;
          }
          .appointment-details{
              padding: 2rem !important;
          }
      }
  }
  
  