#accent-btn{
    background: var(--dark-blue);
    border: 0.125rem solid var(--dark-blue);
    color:var(--white);
    padding: 0.675rem 1.875rem;
    border-radius: 0;
    display: flex;
    justify-content: center;
    margin: auto;
}
#field-btn{
    background: var(--blue);
    border: 0.125rem solid var(--blue);
    color:var(--white);
    padding: 0.675rem 1.875rem;
    display: flex;
    justify-content: center;
    margin: auto;
}
#list-btn{
    border: 0.125rem solid var(--dark-blue);
    color:var(--dark-blue);
    padding: 0.675rem 0.875rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}