.image-section {
  display: none;
}

.sorting-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

.sorting-section .container span {
  font-family: nexa-light;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting-section .container select {
  margin: 0;
}

.filter-section {
  display: none;
}

.doctor-card .card {
  border: 0.12rem solid var(--light-grey);
  margin-bottom: 1rem;
}

.doctor-card .card .card-details {
  padding: 1rem 0;
  text-align: left;
}

.doctor-card .card .card-details #name {
  display: block;
  font-family: nexa-bold;
  color: var(--blue);
  font-size: 1.6rem;
  margin: 0 0 0.625rem 2.5rem;
  position: relative;
}

.doctor-card .card .card-details #name::before {
  position: absolute;
  content: "___";
  left: -2.5rem;
  bottom: 40%;
}

.doctor-card .card .card-details li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5rem 1fr;
      grid-template-columns: 2.5rem 1fr;
  margin-bottom: 0.5rem;
}

.doctor-card .card .card-details li i {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--blue);
}

.doctor-card .card .card-details li span {
  font-size: 1.1rem;
  font-family: nexa-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: var(--dark-blue);
}

.doctor-card .card figure {
  margin-top: 1rem !important;
}

.doctor-card .card figure img {
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.doctor-card #card-6 {
  margin-bottom: 0;
}

.needHelp {
  background-color: var(--light-blue);
}

.needHelp .container h2 {
  color: var(--white);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .image-section {
    display: block;
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 0;
  }
  .image-section .pseudo-container {
    background-color: var(--background-faded-blue);
    width: 100%;
    height: 100%;
  }
  .image-section .pseudo-container .container {
    padding: 2rem;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-section .pseudo-container .container h1 {
    font-family: nexa-light;
  }
  .image-section .pseudo-container .container h1 a {
    color: var(--dark-blue);
    text-decoration: underline;
  }
  .main-section .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
    grid-column-gap: 2rem;
  }
  .main-section .container .filter-section {
    display: block;
    padding-right: 0;
    padding-top: 0;
  }
  .main-section .container .filter-section h6 {
    padding: 0.8rem;
    background-color: var(--light-grey);
    width: 100%;
    text-align: left;
  }
  .main-section .container .filter-section .filters li {
    margin-bottom: 1rem;
  }
  .main-section .container .filter-section .filters li .heading {
    display: -ms-grid;
    display: grid;
    margin-bottom: 0.8rem;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    position: relative;
  }
  .main-section .container .filter-section .filters li .heading span {
    font-size: 1.4rem;
    font-family: nexa-light;
    color: var(--dark-blue);
    text-align: left;
  }
  .main-section .container .filter-section .filters li .heading i {
    font-size: 1.4rem;
    color: var(--blue);
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main-section .container .filter-section .filters li .heading::after {
    position: absolute;
    content: "-";
    right: 0;
    font-family: nexa-bold;
    color: var(--light-grey);
  }
  .main-section .container .filter-section .filters li .option-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1rem 1fr;
        grid-template-columns: 1rem 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
  }
  .main-section .container .filter-section .filters li .option-box label {
    font-size: 1.1rem;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.4rem;
  }
  .main-section .container .filter-section .filters li .option-box input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main-section .container .filter-section .filters li a {
    color: var(--blue);
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: left;
  }
  .main-section .container .doctor-card {
    display: block;
    padding-left: 0;
    padding-top: 0;
  }
  .main-section .container .doctor-card .card {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 0.5rem;
    -ms-grid-columns: 5fr 1.5fr;
        grid-template-columns: 5fr 1.5fr;
    grid-auto-rows: 13rem 4.5rem;
        grid-template-areas: "ul image" "button image";
  }
  .main-section .container .doctor-card .card .card-details {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ul;
  }
  .main-section .container .doctor-card .card figure {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: image;
    margin: 0 !important;
  }
  .main-section .container .doctor-card .card figure img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .main-section .container .doctor-card .card #accent-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: button;
    margin: 0 auto 1rem 1rem;
  }
  .main-section .container .doctor-card .card .card-details {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ul;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1rem 1fr 1fr;
        grid-template-columns: 1rem 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-row-gap: 0.5rem !important;
        grid-template-areas: "name-list name-list name-list" " . practice hospital" " . specialization address" " . experience experience";
  }
  .main-section .container .doctor-card .card .card-details li {
    margin-bottom: 0;
  }
  .main-section .container .doctor-card .card .card-details #name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: name-list;
    margin-bottom: 0;
  }
  .main-section .container .doctor-card .card .card-details #name::before {
    bottom: 40%;
  }
  .main-section .container .doctor-card .card .card-details #practice {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: practice;
  }
  .main-section .container .doctor-card .card .card-details #hospital {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: hospital;
  }
  .main-section .container .doctor-card .card .card-details #specialization {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: specialization;
  }
  .main-section .container .doctor-card .card .card-details #address {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: address;
  }
  .main-section .container .doctor-card .card .card-details .experience {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: experience;
  }
  .main-section .container .doctor-card .card .card-details li span {
    line-height: 1.4rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  .image-section {
    display: block;
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 0;
  }
  .image-section .pseudo-container {
    background-color: var(--background-faded-blue);
    width: 100%;
    height: 100%;
  }
  .image-section .pseudo-container .container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-section .pseudo-container .container h1 {
    font-family: nexa-light;
    max-width: 1100px;
  }
  .image-section .pseudo-container .container h1 a {
    color: var(--dark-blue);
    text-decoration: underline;
  }
  .sorting-section .container {
    max-width: 1100px;
    margin: auto;
  }
  .sorting-section .container span {
    font-size: 1.4rem;
  }
  .main-section .container {
    max-width: 1100px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
    grid-column-gap: 2rem;
  }
  .main-section .container .filter-section {
    display: block;
    padding-right: 0;
    padding-top: 0;
  }
  .main-section .container .filter-section h6 {
    padding: 0.8rem;
    background-color: var(--light-grey);
    width: 100%;
    text-align: left;
  }
  .main-section .container .filter-section .filters li {
    margin-bottom: 1rem;
  }
  .main-section .container .filter-section .filters li .heading {
    display: -ms-grid;
    display: grid;
    margin-bottom: 0.8rem;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    position: relative;
  }
  .main-section .container .filter-section .filters li .heading span {
    font-size: 1.4rem;
    font-family: nexa-light;
    color: var(--dark-blue);
    text-align: left;
  }
  .main-section .container .filter-section .filters li .heading i {
    font-size: 1.4rem;
    color: var(--blue);
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main-section .container .filter-section .filters li .heading::after {
    position: absolute;
    content: "-";
    right: 0;
    font-family: nexa-bold;
    color: var(--light-grey);
  }
  .main-section .container .filter-section .filters li .option-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1rem 1fr;
        grid-template-columns: 1rem 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
  }
  .main-section .container .filter-section .filters li .option-box label {
    font-size: 1.1rem;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.4rem;
  }
  .main-section .container .filter-section .filters li .option-box input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main-section .container .filter-section .filters li a {
    color: var(--blue);
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: left;
  }
  .main-section .container .doctor-card {
    display: block;
    padding-left: 0;
    padding-top: 0;
  }
  .main-section .container .doctor-card .card {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 0.5rem;
    -ms-grid-columns: 5fr 1.5fr;
        grid-template-columns: 5fr 1.5fr;
    grid-auto-rows: 14rem 4.5rem;
        grid-template-areas: "ul image" "button image";
  }
  .main-section .container .doctor-card .card .card-details {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ul;
  }
  .main-section .container .doctor-card .card figure {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: image;
    margin: 0 !important;
  }
  .main-section .container .doctor-card .card figure img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .main-section .container .doctor-card .card #accent-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: button;
    margin: 0 auto 1rem 1rem;
  }
  .main-section .container .doctor-card .card .card-details {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ul;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1rem 1fr 1fr;
        grid-template-columns: 1rem 1fr 1fr;
    grid-row-gap: 0.5rem;
        grid-template-areas: "name-list name-list name-list" " . practice hospital" " . specialization address" " . experience experience";
  }
  .main-section .container .doctor-card .card .card-details li {
    margin-bottom: 0;
  }
  .main-section .container .doctor-card .card .card-details #name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: name-list;
    margin-bottom: 0;
  }
  .main-section .container .doctor-card .card .card-details #name::before {
    bottom: 55%;
  }
  .main-section .container .doctor-card .card .card-details #practice {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: practice;
  }
  .main-section .container .doctor-card .card .card-details #hospital {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: hospital;
  }
  .main-section .container .doctor-card .card .card-details #specialization {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: specialization;
  }
  .main-section .container .doctor-card .card .card-details #address {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: address;
  }
  .main-section .container .doctor-card .card .card-details .experience {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: experience;
  }
  .main-section .container .doctor-card .card .card-details li span {
    line-height: 1.4rem;
  }
  .needHelp .container {
    max-width: 1100px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
  .needHelp .container h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    color: var(--white);
    text-align: left;
    padding: 0 0 2rem 0;
  }
  .needHelp .container #field-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    grid-column: 2/2;
    margin: 0 0 0 auto;
    height: 100%;
  }
  .needHelp .container p {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media only screen and (min-width: 1351px) {
  .image-section {
    display: block;
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 0;
  }
  .image-section .pseudo-container {
    background-color: var(--background-faded-blue);
    width: 100%;
    height: 100%;
  }
  .image-section .pseudo-container .container {
    max-width: 1340px;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-section .pseudo-container .container h1 {
    font-family: nexa-light;
    max-width: 1100px;
  }
  .image-section .pseudo-container .container h1 a {
    color: var(--dark-blue);
    text-decoration: underline;
  }
  .sorting-section .container {
    max-width: 1340px;
    margin: auto;
  }
  .sorting-section .container span {
    font-size: 1.4rem;
  }
  .main-section .container {
    max-width: 1340px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
    grid-column-gap: 2rem;
  }
  .main-section .container .filter-section {
    display: block;
    padding-right: 0;
    padding-top: 0;
  }
  .main-section .container .filter-section h6 {
    padding: 0.8rem;
    background-color: var(--light-grey);
    width: 100%;
    text-align: left;
  }
  .main-section .container .filter-section .filters li {
    margin-bottom: 1rem;
  }
  .main-section .container .filter-section .filters li .heading {
    display: -ms-grid;
    display: grid;
    margin-bottom: 0.8rem;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    position: relative;
  }
  .main-section .container .filter-section .filters li .heading span {
    font-size: 1.4rem;
    font-family: nexa-light;
    color: var(--dark-blue);
    text-align: left;
  }
  .main-section .container .filter-section .filters li .heading i {
    font-size: 1.4rem;
    color: var(--blue);
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main-section .container .filter-section .filters li .heading::after {
    position: absolute;
    content: "-";
    right: 0;
    font-family: nexa-bold;
    color: var(--light-grey);
  }
  .main-section .container .filter-section .filters li .option-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1rem 1fr;
        grid-template-columns: 1rem 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
  }
  .main-section .container .filter-section .filters li .option-box label {
    font-size: 1.1rem;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.4rem;
  }
  .main-section .container .filter-section .filters li .option-box input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main-section .container .filter-section .filters li a {
    color: var(--blue);
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: left;
  }
  .main-section .container .doctor-card {
    display: block;
    padding-left: 0;
    padding-top: 0;
  }
  .main-section .container .doctor-card .card {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 0.5rem;
    -ms-grid-columns: 5fr 1.5fr;
        grid-template-columns: 5fr 1.5fr;
    grid-auto-rows: 14rem 4.5rem;
        grid-template-areas: "ul image" "button image";
  }
  .main-section .container .doctor-card .card .card-details {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ul;
  }
  .main-section .container .doctor-card .card figure {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: image;
    margin: 0 !important;
  }
  .main-section .container .doctor-card .card figure img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .main-section .container .doctor-card .card #accent-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: button;
    margin: 0 auto 1rem 1rem;
  }
  .main-section .container .doctor-card .card .card-details {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ul;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1rem 1fr 1fr;
        grid-template-columns: 1rem 1fr 1fr;
    grid-row-gap: 0.5rem;
        grid-template-areas: "name-list name-list name-list" " . practice hospital" " . specialization address" " . experience experience";
  }
  .main-section .container .doctor-card .card .card-details li {
    margin-bottom: 0;
  }
  .main-section .container .doctor-card .card .card-details #name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: name-list;
    margin-bottom: 0;
  }
  .main-section .container .doctor-card .card .card-details #name::before {
    bottom: 55%;
  }
  .main-section .container .doctor-card .card .card-details #practice {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: practice;
  }
  .main-section .container .doctor-card .card .card-details #hospital {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: hospital;
  }
  .main-section .container .doctor-card .card .card-details #specialization {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: specialization;
  }
  .main-section .container .doctor-card .card .card-details #address {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: address;
  }
  .main-section .container .doctor-card .card .card-details .experience {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: experience;
  }
  .main-section .container .doctor-card .card .card-details li span {
    line-height: 1.4rem;
  }
  .needHelp .container {
    max-width: 1340px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
  .needHelp .container h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    color: var(--white);
    text-align: left;
    padding: 0 0 2rem 0;
  }
  .needHelp .container #field-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    grid-column: 2/2;
    margin: 0 0 0 auto;
    height: 100%;
  }
  .needHelp .container p {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=doctor.css.map */