.image-section {
  display: none;
}
.sorting-section {
  .container {
    display: grid;
    grid-template-columns: 1fr 0.65fr;
    span {
      font-family: nexa-light;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }
    select {
      margin: 0;
    }
  }
}
.filter-section {
  display: none;
}
.doctor-card {
  .card {
    border: 0.12rem solid var(--light-grey);
    margin-bottom: 1rem;
    .card-details {
      padding: 0.8rem 0;
      text-align: left;
      #name {
        display: block;
        font-family: nexa-bold;
        color: var(--blue);
        font-size: 1.6rem;
        margin: 0 0 0.625rem 2.5rem;
        position: relative;
        &::before {
          position: absolute;
          content: "___";
          left: -2.5rem;
          bottom: 40%;
        }
      }
      li {
        display: grid;
        grid-template-columns: 2.5rem 1fr;
        margin-bottom: 0.5rem;
        i {
          font-size: 1rem;
          display: flex;
          align-self: center;
          justify-content: center;
          color: var(--blue);
        }
        span {
          font-size: 1.1rem;
          font-family: nexa-light;
          display: flex;
          align-self: center;
          color: var(--dark-blue);
        }
      }
    }
    figure {
      margin-top: 1rem !important;
      img{
          height: 40vh;
          object-fit: cover;
      }
    }
  }
  #card-6 {
    margin-bottom: 0;
  }
}

.needHelp {
  background-color: var(--light-blue);
  .container {
    h2 {
      color: var(--white);
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .image-section {
    display: block;
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    transform: rotateY(180deg);
    padding: 0;
    .pseudo-container{
      background-color: var(--background-faded-blue);
      width: 100%;
      height: 100%;
      .container {
        padding: 2rem;
       
        width: 100%;
        height: 100%;
        transform: rotateY(180deg);
        display: flex;
        justify-content: left;
        align-items: center;
        h1 {
          font-family: nexa-light;
          a {
            color: var(--dark-blue);
            text-decoration: underline;
          }
        }
      }
    }
  }
  .main-section {
    .container {
      display: grid;
      grid-template-columns: 2fr 5fr;
      grid-column-gap: 2rem;
      .filter-section {
        display: block;
        padding-right: 0;
        padding-top: 0;
        h6 {
          padding: 0.8rem;
          background-color: var(--light-grey);
          width: 100%;
          text-align: left;
        }
        .filters {
          li {
            margin-bottom: 1rem;
            .heading {
              display: grid;
              margin-bottom: 0.8rem;
              grid-template-columns: 1fr auto;
              span {
                font-size: 1.4rem;
                font-family: nexa-light;
                color: var(--dark-blue);
                text-align: left;
              }
              i {
                font-size: 1.4rem;
                color: var(--blue);
                margin-right: 2rem;
                display: flex;
                align-self: center;
              }
              position: relative;
              &::after {
                position: absolute;
                content: "-";
                right: 0;
                font-family: nexa-bold;
                color: var(--light-grey);
              }
            }
            .option-box {
              display: grid;
              grid-template-columns: 1rem 1fr;
              grid-column-gap: 1rem;
              grid-row-gap: 0.5rem;
              label {
                font-size: 1.1rem;
                margin-bottom: 0;
                text-align: left;
                line-height: 1.4rem;
              }
              input {
                display: flex;
                align-self: center;
              }
            }
            a {
              color: var(--blue);
              font-size: 1rem;
              display: flex;
              justify-self: left;
            }
          }
        }
      }
      .doctor-card {
        display: block;
        padding-left: 0;
        padding-top: 0;
        .card {
          display: grid;
          grid-column-gap: 0.5rem;
          grid-template-columns: 5fr 1.5fr;
          grid-auto-rows: 18rem 4.5rem;
          grid-template-areas:
            "ul image"
            "button image";
          .card-details {
            grid-area: ul;
          }
          figure {
            grid-area: image;
            margin: 0 !important;
            img {
              object-fit: cover;
              height: 100%;
            }
          }
          #accent-btn {
            grid-area: button;
            margin: 0 auto 1rem 1rem;
          }
          .card-details {
            grid-area: ul;
            display: grid;
            grid-template-columns: 1rem 1fr 1fr;
            grid-row-gap: 1rem;
            grid-template-areas:
              "name-list name-list name-list"
              " . practice hospital"
              " . specialization address"
              " . experience experience";
            #name {
              grid-area: name-list;
            }
            #practice {
              grid-area: practice;
            }
            #hospital {
              grid-area: hospital;
            }
            #specialization {
              grid-area: specialization;
            }
            #address {
              grid-area: address;
            }
            .experience {
              grid-area: experience;
            }
            li {
              span {
                line-height: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  .image-section {
    display: block;
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    transform: rotateY(180deg);
    padding: 0;
    .pseudo-container{
        background-color: var(--background-faded-blue);
        width:100%;
        height: 100%;
        .container {
            max-width: 1100px;
            margin: auto;
            width: 100%;
            height: 100%;
            transform: rotateY(180deg);
            display: flex;
            justify-content: left;
            align-items: center;
            h1 {
              font-family: nexa-light;
              max-width: 1100px;
              a {
                color: var(--dark-blue);
                text-decoration: underline;
              }
            }
          }
    }
    
  }
  .sorting-section {
    .container {
      max-width: 1100px;
      margin: auto;
      span{
        font-size:1.4rem;
    }
    }
  }
  .main-section {
    .container {
      max-width: 1100px;
      margin: auto;
      display: grid;
      grid-template-columns: 2fr 5fr;
      grid-column-gap: 2rem;
      .filter-section {
        display: block;
        padding-right: 0;
        padding-top: 0;
        h6 {
          padding: 0.8rem;
          background-color: var(--light-grey);
          width: 100%;
          text-align: left;
        }
        .filters {
          li {
            margin-bottom: 1rem;
            .heading {
              display: grid;
              margin-bottom: 0.8rem;
              grid-template-columns: 1fr auto;
              span {
                font-size: 1.4rem;
                font-family: nexa-light;
                color: var(--dark-blue);
                text-align: left;
              }
              i {
                font-size: 1.4rem;
                color: var(--blue);
                margin-right: 2rem;
                display: flex;
                align-self: center;
              }
              position: relative;
              &::after {
                position: absolute;
                content: "-";
                right: 0;
                font-family: nexa-bold;
                color: var(--light-grey);
              }
            }
            .option-box {
              display: grid;
              grid-template-columns: 1rem 1fr;
              grid-column-gap: 1rem;
              grid-row-gap: 0.5rem;
              label {
                font-size: 1.1rem;
                margin-bottom: 0;
                text-align: left;
                line-height: 1.4rem;
              }
              input {
                display: flex;
                align-self: center;
              }
            }
            a {
              color: var(--blue);
              font-size: 1rem;
              display: flex;
              justify-self: left;
            }
          }
        }
      }
      .doctor-card {
        display: block;
        padding-left: 0;
        padding-top: 0;
        .card {
          display: grid;
          grid-column-gap: 0.5rem;
          grid-template-columns: 5fr 1.5fr;
          grid-auto-rows: 14rem 4.5rem;
          grid-template-areas:
            "ul image"
            "button image";
          .card-details {
            grid-area: ul;
          }
          figure {
            grid-area: image;
            margin: 0 !important;
            img {
              object-fit: cover;
              height: 100%;
            }
          }
          #accent-btn {
            grid-area: button;
            margin: 0 auto 1rem 1rem;
          }
          .card-details {
            grid-area: ul;
            display: grid;
            grid-template-columns: 1rem 1fr 1fr;
            grid-row-gap: 1rem;
            grid-template-areas:
              "name-list name-list name-list"
              " . practice hospital"
              " . specialization address"
              " . experience experience";
            #name {
              grid-area: name-list;
            }
            #practice {
              grid-area: practice;
            }
            #hospital {
              grid-area: hospital;
            }
            #specialization {
              grid-area: specialization;
            }
            #address {
              grid-area: address;
            }
            .experience {
              grid-area: experience;
            }
            li {
              span {
                line-height: 1.4rem;
              }
            }
          }
        }
      }
    }
  }

  .needHelp {
    .container {
        max-width:1100px;
        margin: auto;
      display: grid;
      grid-template-columns: 1fr auto;
      h2 {
        grid-row: 1/2;
        grid-column: 1/2;
        color: var(--white);
        text-align: left;
        padding: 0 0 2rem 0;
      }
      #field-btn {
        align-items: center;
        grid-row: 1/2;
        grid-column: 2/2;
        margin: 0 0 0 auto;
        height: 100%;
      }

      p {
        text-align: left;
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 0;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

@media only screen and (min-width:1351px) {
    .image-section {
      display: block;
      background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 30vh;
      transform: rotateY(180deg);
      padding: 0;
      .pseudo-container{
          background-color: var(--background-faded-blue);
          width:100%;
          height: 100%;
          .container {
              max-width: 1340px;
              margin: auto;
              width: 100%;
              height: 100%;
              transform: rotateY(180deg);
              display: flex;
              justify-content: left;
              align-items: center;
              h1 {
                font-family: nexa-light;
                max-width: 1100px;
                a {
                  color: var(--dark-blue);
                  text-decoration: underline;
                }
              }
            }
      }
      
    }
    .sorting-section {
      .container {
        max-width: 1340px;
        margin: auto;
        span{
            font-size:1.4rem;
        }
      }
    }
    .main-section {
      .container {
        max-width: 1340px;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-column-gap: 2rem;
        .filter-section {
          display: block;
          padding-right: 0;
          padding-top: 0;
          h6 {
            padding: 0.8rem;
            background-color: var(--light-grey);
            width: 100%;
            text-align: left;
          }
          .filters {
            li {
              margin-bottom: 1rem;
              .heading {
                display: grid;
                margin-bottom: 0.8rem;
                grid-template-columns: 1fr auto;
                span {
                  font-size: 1.4rem;
                  font-family: nexa-light;
                  color: var(--dark-blue);
                  text-align: left;
                }
                i {
                  font-size: 1.4rem;
                  color: var(--blue);
                  margin-right: 2rem;
                  display: flex;
                  align-self: center;
                }
                position: relative;
                &::after {
                  position: absolute;
                  content: "-";
                  right: 0;
                  font-family: nexa-bold;
                  color: var(--light-grey);
                }
              }
              .option-box {
                display: grid;
                grid-template-columns: 1rem 1fr;
                grid-column-gap: 1rem;
                grid-row-gap: 0.5rem;
                label {
                  font-size: 1.1rem;
                  margin-bottom: 0;
                  text-align: left;
                  line-height: 1.4rem;
                }
                input {
                  display: flex;
                  align-self: center;
                }
              }
              a {
                color: var(--blue);
                font-size: 1rem;
                display: flex;
                justify-self: left;
              }
            }
          }
        }
        .doctor-card {
          display: block;
          padding-left: 0;
          padding-top: 0;
          .card {
            display: grid;
            grid-column-gap: 0.5rem;
            grid-template-columns: 5fr 1.5fr;
            grid-auto-rows: 14rem 4.5rem;
            grid-template-areas:
              "ul image"
              "button image";
            .card-details {
              grid-area: ul;
            }
            figure {
              grid-area: image;
              margin: 0 !important;
              img {
                object-fit: cover;
                height: 100%;
              }
            }
            #accent-btn {
              grid-area: button;
              margin: 0 auto 1rem 1rem;
            }
            .card-details {
              grid-area: ul;
              display: grid;
              grid-template-columns: 1rem 1fr 1fr;
              grid-row-gap: 1rem;
              grid-template-areas:
                "name-list name-list name-list"
                " . practice hospital"
                " . specialization address"
                " . experience experience";
              #name {
                grid-area: name-list;
              }
              #practice {
                grid-area: practice;
              }
              #hospital {
                grid-area: hospital;
              }
              #specialization {
                grid-area: specialization;
              }
              #address {
                grid-area: address;
              }
              .experience {
                grid-area: experience;
              }
              li {
                span {
                  line-height: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  
    .needHelp {
      .container {
          max-width:1340px;
          margin: auto;
        display: grid;
        grid-template-columns: 1fr auto;
        h2 {
          grid-row: 1/2;
          grid-column: 1/2;
          color: var(--white);
          text-align: left;
          padding: 0 0 2rem 0;
        }
        #field-btn {
          align-items: center;
          grid-row: 1/2;
          grid-column: 2/2;
          margin: 0 0 0 auto;
          height: 100%;
        }
  
        p {
          text-align: left;
          grid-row: 1/2;
          grid-column: 1/2;
          margin: 0;
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }