#header-view-1{
    padding: 1.5rem 0.8rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    figure{
        width:8rem;
        height: auto;
    }
    i{
        display: flex;
        align-self: center;
        justify-self: end;
        font-size: 1.25rem;
    }
}
#header-view-2{
    display: none;
}

@media only screen and (min-width:768px) and (max-width:1024px){
    #header-view-1{
        padding: 2rem
    }
}

@media only screen and (min-width:1025px) and (max-width:1350px){
    header{
        max-width: 1100px;
        padding: 2rem 0;
        margin: auto;
        #header-view-1{
            display: none;
        }
        #header-view-2{
            display: grid;
            grid-template-columns: 1fr 3fr auto;
            grid-column-gap: 2rem ;
            figure{
                width:10rem;
                display: flex;
                align-items: center;
                img{
                    height: auto;
                }
            }
            .headerList{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    font-size: 1.25rem;
                }
            }
            .buttons{
                display: flex;
                .accent-btn{
                    padding: 0.675rem 0.875rem;
                    margin-left: 0.5rem;
                    border-radius: 00.3125rem;
                }
                button{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
        }
    }
   
}

@media only screen and (min-width:1351px){
    header{
        max-width: 1340px;
        padding: 2rem 0;
        margin: auto;
        #header-view-1{
            display: none;
        }
        #header-view-2{
            display: grid;
            grid-template-columns: 1fr 3fr auto;
            grid-column-gap: 5rem ;
            figure{
                width:10rem;
                display: flex;
                align-items: center;
                img{
                    height: auto;
                }
            }
            .headerList{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    font-size: 1.25rem;
                }
            }
            .buttons{
                display: flex;
                .accent-btn{
                    padding: 0.675rem 0.875rem;
                    margin-left: 0.5rem;
                    border-radius: 00.3125rem;
                }
                button{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
        }
    }
   
}