body {
    background: var(--light-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    .signup {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
  }
  
  .signup {
    .container {
      background-color: var(--white);
      h3 {
        border-bottom: 0.12rem solid var(--light-grey);
        color: var(--blue);
        padding: 1rem 0;
        margin: 0;
      }
      .signup-details {
        padding: 0.75rem;
        input,select{
            border:0.12rem solid var(--light-grey);
        }
        select,input[type=date]{
            background: var(--white);
            color:var(--light-grey)
        }
        .inputBox{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 0.3125rem;

        }
        #accent-btn {
          font-family: nexa-bold;
          letter-spacing: 0.125rem;
          width: 100%;
          position: relative;
          &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f061";
            font-weight: 700;
            position: absolute;
            right: 0;
            padding: 0 0.5rem 0 0;
          }
          margin-bottom: 2rem;
        }
        span {
          font-size: 1rem;
  
          a {
            color: var(--blue);
          }
        }
      }
    }
  }
  
  footer {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
    span {
      padding: 0rem 0.8rem 1.5rem;
      font-size: 1rem;
      color: var(--dark-blue);
      display: flex;
      justify-content: center;
    }
  }
  
  @media only screen and (min-width:768px) and (max-width:1024px){
      .signup{
          width:80%;
          margin: auto;
      }
  }
  
  @media only screen and (min-width:1025px) and (max-width:1350x){
      .signup{
          width:50%;
          margin: auto;
      }
  }
  
  @media only screen and (min-width:1351px){
      .signup{
          width:45%;
          margin: auto;
      }
  }
  
  
  