<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about-us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/scss/reset.css" />
    <link rel="stylesheet" href="../assets/scss/theme.css" />
    <link rel="stylesheet" href="../assets/scss/header.css" />
    <link rel="stylesheet" href="../assets/scss/about-us.css" />
    <link rel="stylesheet" href="../assets/scss/footer.css" />
    <link rel="stylesheet" href="../assets/scss/button.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="container">
        <nav class="main-nav" id="header-1">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <i class="fas fa-bars"></i>
        </nav>
      </div>
      <div class="container">
        <nav class="main-nav" id="header-2">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <ul class="headerList">
            <li><a href="../views/doctor.html">Doctors</a></li>
            <li><a href="../views/hospital.html">Hospitals</a></li>
            <li><a href="../views/dentistry.html">Treatments</a></li>
            <li><a href="../views/FAQ.html">Other Services</a></li>
            <li><a href="../views/about-us.html">About</a></li>
          </ul>
          <div class="buttons">
            <button id="list-btn">Login / Sign Up</button>
            <button id="accent-btn">Get a Quote</button>
          </div>
        </nav>
      </div>
    </header>

    <!-- section1 -->
    <section class="livingHealthyMatters">
      <div class="pseudo-container">
        <div class="container">
          <h1>Living Helathy Matters</h1>
          <p>
            Our specialists asire to bridge the gap between your benefits plan
            and the health needs.
          </p>
        </div>
      </div>
    </section>

    <!-- section2 -->
    <section class="storyOfLife">
      <div class="container">
        <h2>
          You have to begin to tell the story if your life as you now want it to
          be and discontinue the tales.
        </h2>
        <p id="p1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          odit recusandae quisquam voluptas tempora facilis sint accusantium,
          omnis numquam eligendi.
        </p>
        <p id="p2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          odit recusandae quisquam voluptas tempora facilis sint accusantium,
          omnis numquam eligendi.
        </p>
        <p id="p3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          odit recusandae quisquam voluptas tempora facilis sint accusantium,
          omnis numquam eligendi.
        </p>
        <figure class="signature">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png"
            alt=""
          />
        </figure>
        <figure class="model">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png
          "
            alt=""
          />
        </figure>
      </div>
    </section>

    <!-- section3 -->
    <section class="wellness">
      <div class="pseudo-container">
        <div class="video-container">
          <video autoplay muted loop="true" id="myVideo">
            <source
              src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/e06d816e6aca8019010592c7780543a4/The+New+Stamford+Hospital+TV+Commercial.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="container">
          <h3>Your wellness builds upon the medical daily.</h3>
          <p>
            Find your best self here. Dicover new ways to live an inspiring life
            through natural beauty, nutrition and diet, an active lifestyle, and
            better relationships.
          </p>
          <a href="#"
            ><button type="submit" id="field-btn">Get a Free Checkup</button></a
          >
          <ul class="stats">
            <li id="stat1">
              <span id="value">12M</span>
              <span id="key">Happy Patients</span>
            </li>
            <li id="stat2">
              <span id="value">5k</span>
              <span id="key">Medical Assistants</span>
            </li>
            <li id="stat3">
              <span id="value">9.8</span>
              <span id="key">Alexa Score</span>
            </li>
            <li id="stat4">
              <span id="value">3.2k</span>
              <span id="key">Doctors Available</span>
            </li>
            <li id="stat5">
              <span id="value">45k</span>
              <span id="key">Cure Rate</span>
            </li>
            <li id="stat6">
              <span id="value">75</span>
              <span id="key">Health Points</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- section4 -->
    <section class="joinOurTeam">
      <div class="container">
        <h2>Join our team</h2>
        <p>We ar always looking for good and talented people.</p>
        <button type="submit" id="field-btn">Submit your CV</button>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <div class="container">
        <figure>
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
            alt=""
          />
        </figure>
        <ul class="footerList">
          <li><a href="#">Doctors</a></li>
          <li><a href="#">Hospitals</a></li>
          <li><a href="#">Treatments</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
        <div class="social-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
        <span>All Rights are Reserved. &copy tvastra 2018</span>
      </div>
    </footer>
  </body>
</html>
