<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/style-about-us.css">
    <link rel="stylesheet" href="../assets/css/button.css">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="main-nav" id="header-view-1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <i class="fas fa-bars"></i>
        </nav>
        <nav class="main-nav" id="header-view-2">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <ul class="headerList">
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other Services</li>
                <li>About</li>
            </ul>
            <div class="buttons">
                <a href="#"><button class="btn-bg-white">Login / Sign Up</button></a>
                <a href="#"><button class="btn-bg-dark-blue">Get a Quote</button></a>
            </div>
        </nav>
    </header>

    <!-- section1 -->
    <section class="livingHealthyMatters">
        <ul class="livingHealthyMatters-info">
            <li class="heading">Living healthy matters</li>
            <li>Our specialist aspire to bridge the gap between your benefits plan and the health needs.</li>
        </ul>
    </section>

    <!-- section2 -->
    <section class="youHaveToBeginToTellTheStoryOfyourLifeAsYouNowWantItToBeAndDiscontinueTheTales">
        <h3>You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h3>
        <div class="paragraph">
            <p>Deploymwnt long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor
                long tail agile workers prototype validation influencer market share.</p>
            <p>Deploymwnt long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor
                long tail agile workers prototype validation influencer market share.</p>
            <p>Deploymwnt long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor
                long tail agile workers prototype validation influencer market share.</p>
        </div>
        <figure class="signature">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="">
        </figure>
        <figure class="doctorImage">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="">
        </figure>
    </section>

    <!-- section3 -->
    <section class="yourWellnessBuildsUponTheMedicalDaily">
        <h4>Your wellness builds upon the medical daily.</h4>
        <p>Find your best self here. Discover ne ways to live an inspiring life through natural beauty, nutrition and
            diet, an active lifestyle, and better relationships.</p>
        <a href="#"><button class="btn-bg-blue">Get a Free Checkup</button></a>
        <div class="statistics">
            <ul class="patients">
                <li class="stats">12M</li>
                <li>Happy Patients</li>
            </ul>
            <ul class="assistants">
                <li class="stats">5k</li>
                <li>Medical Assistants</li>
            </ul>
            <ul class="alexa">
                <li class="stats">9.8</li>
                <li>Alexa Score</li>
            </ul>
            <ul class="doctors">
                <li class="stats">3.2k</li>
                <li>Doctors Available</li>
            </ul>
            <ul class="cure-rate">
                <li class="stats">45k</li>
                <li>Cure Rate</li>
            </ul>
            <ul class="health-points">
                <li class="stats">75</li>
                <li>Health Points</li>
            </ul>
        </div>
    </section>

    <!-- section4 -->
    <section class="joinOurTeam">
        <h2>Join our team</h2>
        <p>We are always looking for good and talented people.</p>
        <a href="#"><button class="btn-bg-blue">Submit your CV</button></a>
    </section>

    <!-- footer -->
    <footer>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
        </figure>
        <ul class="footerList">
            <li>Doctor</li>
            <li>Hospital</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>FAQs</li>
        </ul>
        <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
</body>

</html>