<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="container">
        <nav class="main-nav" id="header-1">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <i class="fas fa-bars"></i>
        </nav>
      </div>
      <div class="container">
        <nav class="main-nav" id="header-2">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <ul class="headerList">
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Hospitals</a></li>
            <li><a href="#">Treatments</a></li>
            <li><a href="#">Other Services</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <div class="buttons">
            <button id="list-btn">Login / Sign Up</button>
            <button id="accent-btn">Get a Quote</button>
          </div>
        </nav>
      </div>
    </header>

    <!-- section1 -->
    <section class="contact-us-section">
      <div class="container">
        <ul id="introduction">
          <li id="heading">Contact Us</li>
          <li>Home / Contact Us</li>
        </ul>
      </div>
    </section>

    <!-- section2 -->
    <section class="contact-details-section">
      <div class="container">
        <ul class="details">
          <li id="location">
            <i class="fas fa-home"></i>
            <span id="address">Noida, India</span>
            <span id="landmark">Sector 45</span>
          </li>
          <li id="telephone">
            <i class="fas fa-phone-alt"></i>
            <span id="number">00 (440) 9865562</span>
            <span id="details">Mon to Fri 9am to 6pm</span>
          </li>
          <li id="email">
            <i class="fas fa-home"></i>
            <span id="email-id">support@tvastra.com</span>
            <span id="details">Send us your query anytime!</span>
          </li>
        </ul>
      </div>
    </section>

    <!-- section3 -->
    <section id="query-section">
      <div class="container">
        <form action="" class="query-form">
          <input
            type="text"
            name="name"
            placeholder="Enter your name"
            id="name"
          />
          <input
            type="email"
            name="email"
            placeholder="Enter email address"
            id="email"
          />
          <input
            type="text"
            name="subject"
            placeholder="Enter subject"
            id="subject"
          />
          <textarea name="message" id="message" placeholder="Enter Message"></textarea>
          <button type="submit" id="field-btn">Send Message</button>
        </form>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <div class="container">
        <figure>
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
            alt=""
          />
        </figure>
        <ul class="footerList">
          <li><a href="#">Doctors</a></li>
          <li><a href="#">Hospitals</a></li>
          <li><a href="#">Treatments</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
        <div class="social-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
        <span>All Rights are Reserved. &copy tvastra 2018</span>
      </div>
    </footer>
  </body>
</html>
