<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dentistry</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/scss/reset.css" />
    <link rel="stylesheet" href="../assets/scss/theme.css" />
    <link rel="stylesheet" href="../assets/scss/header.css" />
    <link rel="stylesheet" href="../assets/scss/dentistry.css" />
    <link rel="stylesheet" href="../assets/scss/footer.css" />
    <link rel="stylesheet" href="../assets/scss/button.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="container">
        <nav class="main-nav" id="header-1">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <i class="fas fa-bars"></i>
        </nav>
      </div>
      <div class="container">
        <nav class="main-nav" id="header-2">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <ul class="headerList">
            <li><a href="../views/doctor.html">Doctors</a></li>
            <li><a href="../views/hospital.html">Hospitals</a></li>
            <li><a href="../views/dentistry.html">Treatments</a></li>
            <li><a href="../views/FAQ.html">Other Services</a></li>
            <li><a href="../views/about-us.html">About</a></li>
          </ul>
          <div class="buttons">
            <button id="list-btn">Login / Sign Up</button>
            <button id="accent-btn">Get a Quote</button>
          </div>
        </nav>
      </div>
    </header>

    <!-- section1 -->
    <section class="introduction">
      <div class="pseudo-container">
        <div class="container">
          <ul class="details">
            <li id="main-idea">Dentistry</li>
            <li>Home / Dentistry</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- section -->
    <section class="vaccination">
      <div class="container">
        <h3>Vaccination</h3>
        <figure>
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg"
            alt=""
          />
        </figure>
        <h5>About Dentist Department</h5>
        <p>
          The vaccination of dentists against various vaccine-preventable
          infections is the most important measure of primary prevention against
          such diseases which could otherwise prove fatal for both the dentists
          and their patients.
        </p>
        <ul id="vaccine-name">
          <li>
            <i class="fas fa-circle"></i>
            <span>CF-related diabetes (monthly)</span>
          </li>
          <li>
            <i class="fas fa-circle"></i>
            <span>Gastrointestinal (monthly)</span>
          </li>
          <li>
            <i class="fas fa-circle"></i>
            <span>CF-related disease (monthly)</span>
          </li>
          <li>
            <i class="fas fa-circle"></i>
            <span>Sweat testing (three times per month)</span>
          </li>
        </ul>
        <ul id="details">
          <li>
            <i class="fas fa-stethoscope"></i>
            <span>Central Nervous System</span>
            <p>
              OPen visitation with only two visitors in a room at any time. No
              one under 12 years of age may.
            </p>
          </li>
          <li>
            <i class="fas fa-tablets"></i>
            <span>Allergic Disorders</span>
            <p>
              OPen visitation with only two visitors in a room at any time. No
              one under 12 years of age may.
            </p>
          </li>
          <li>
            <i class="fas fa-heartbeat"></i>
            <span>Neoplastic Disorders</span>
            <p>
              OPen visitation with only two visitors in a room at any time. No
              one under 12 years of age may.
            </p>
          </li>
        </ul>
        <div class="cards">
          <ul class="card" id="card1">
            <li id="name">Service Details</li>
            <li>
              <span id="key">Price</span>
              <span id="value">from $340</span>
            </li>
            <li>
              <span id="key">Duration</span>
              <span id="value">10 Minutes</span>
            </li>
            <li>
              <span id="key">Office</span>
              <span id="value">#46</span>
            </li>
            <li>
              <span id="key">Doctor</span>
              <span id="value">Dr. Elizabeth Beard</span>
            </li>
            <li>
              <span id="key">Categories</span>
              <span id="value">Family Medicine</span>
            </li>
          </ul>

          <ul class="card" id="card2">
            <li id="name">Schedule</li>
            <li>
              <span id="key">Tuesday</span>
              <span id="value">10:00am - 01:00pm</span>
            </li>
            <li>
              <span id="key">Friday</span>
              <span id="value">07:00 - 10:00pm</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- section -->
    <section class="moreServices">
      <div class="container">
        <h3>More Services</h3>
        <div class="navigation">
          <i class="fas fa-chevron-left"></i>
          <i class="fas fa-chevron-right"></i>
        </div>
        <div class="boards">
          <figure id="board1">
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"
              alt=""
            />
            <figcaption>Orthopedics Surgery</figcaption>
          </figure>

          <figure id="board2">
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
              alt=""
            />
            <figcaption>Cancer</figcaption>
          </figure>

          <figure id="board3">
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
              alt=""
            />
            <figcaption>Cardiology</figcaption>
          </figure>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <div class="container">
        <figure>
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
            alt=""
          />
        </figure>
        <ul class="footerList">
          <li><a href="#">Doctors</a></li>
          <li><a href="#">Hospitals</a></li>
          <li><a href="#">Treatments</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
        <div class="social-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
        <span>All Rights are Reserved. &copy tvastra 2018</span>
      </div>
    </footer>
  </body>
</html>
