<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra-dentistry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/style-dentistry.css">
    <link rel="stylesheet" href="../assets/css/button.css">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="main-nav" id="header-view-1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <i class="fas fa-bars"></i>
        </nav>
        <nav class="main-nav" id="header-view-2">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <ul class="headerList">
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other Services</li>
                <li>About</li>
            </ul>
            <div class="buttons">
                <a href="#"><button class="btn-bg-white">Login / Sign Up</button></a>
                <a href="#"><button class="btn-bg-dark-blue">Get a Quote</button></a>
            </div>
        </nav>
    </header>

    <!-- section1 -->
    <section class="dentistry">
        <ul class="figureInfo">
            <li class="treatment">Dentistry</li>
            <li>Home / Dentistry</li>
        </ul>
    </section>

    <!-- section2 -->
    <section class="vaccination">

        <div class="box">
            <h2>Vaccination</h2>
            <div class="box1">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="">
                </figure>
                <div class="sub-box1">
                    <h5>About Dentist Department</h5>
                    <p>The vaccination of dentists against various vaccine-preventable infections is the most important
                        measure
                        of
                        primary prevention against such diseases which would otherwise prove fatal for both the dentists
                        anf
                        their
                        patients.</p>
                    <ul class="vaccineList">
                        <li>CF-related diabetes (monthly)</li>
                        <li>Gastrointestinal (monthly)</li>
                        <li>CF-related liver disease (monthly)</li>
                        <li>Sweat testing (three times per month)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="diseases">
            <figure>
                <i class="fas fa-stethoscope"></i>
                <h5>Central Nervous System</h5>
                <p>Open visitation with only two visitors ina aroom at any time. No one under 12 years of age may.</p>
            </figure>
            <figure>
                <i class="fas fa-tablets"></i>
                <h5>Allergic Disorders</h5>
                <p>Open visitation with only two visitors ina aroom at any time. No one under 12 years of age may.</p>
            </figure>
            <figure>
                <i class="fas fa-heartbeat"></i>
                <h5>Neoplastic Disorders</h5>
                <p>Open visitation with only two visitors ina aroom at any time. No one under 12 years of age may.</p>
            </figure>
        </div>
        <div class="box2">
            <div class="serviceDetails">
                <h5>Service Details</h5>
                <table class="details">
                    <tr>
                        <td class="left">Price</td>
                        <td class="right">from $340</td>
                    </tr>
                    <tr>
                        <td class="left">Duration</td>
                        <td class="right">10 Minutes</td>
                    </tr>
                    <tr>
                        <td class="left">Office</td>
                        <td class="right">#46</td>
                    </tr>
                    <tr>
                        <td class="left">Doctor</td>
                        <td class="right">Dr. Elizabeth Beard</td>
                    </tr>
                    <tr>
                        <td class="left">Categories</td>
                        <td class="right">Family Medicine</td>
                    </tr>
                </table>
            </div>
            <div class="schedule">
                <h5>Schedule</h5>
                <table class="details">
                    <tr>
                        <td class="left">Tuesday</td>
                        <td class="right">10:00am - 01:00pm</td>
                    </tr>
                    <tr>
                        <td class="left">Friday</td>
                        <td class="right">07:00am - 10:00pm</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- section3 -->
    <section class="moreServices">
        <h2>More Services</h2>
        <div class="scroll">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="images">
            <figure class="image image1">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                <figcaption>Orthopedic Surgery</figcaption>
            </figure>
            <figure class="image image2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                <figcaption>Cancer</figcaption>
            </figure>
            <figure class="image image3">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                <figcaption>Cardiology</figcaption>
            </figure>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
        </figure>
        <ul class="footerList">
            <li>Doctor</li>
            <li>Hospital</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>FAQs</li>
        </ul>
        <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
</body>

</html>

