<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVASTRA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/style-doctor.css">
    <link rel="stylesheet" href="../assets/css/button-and-select.css">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="main-nav">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <i class="fas fa-bars"></i>
        </nav>
    </header>
    <!-- section1 -->
    <section class="doctorList">
        <div class="sorting-section">
            <h5>Home/ Doctor List</h5>
            <select name="sort-option" class="select-bg-grey">
                <option value="" disabled selected hidden>Sort by</option>
                <option value="name">Name</option>
                <option value="speciality">Speciality</option>
                <option value="experience">Experience</option>
            </select>
        </div>
        <div class="doctors-list">
            <div class="doctorInfo">
                <ul class="doctor1 doctor">
                    <li class="name">Deep Chandr Verma</li>
                    <li class="specialization">k</li>
                    <li class="certificate">k</li>
                    <li class="experience">k Years of Experience</li>
                    <li class="hospital-name"> </li>
                    <li class="location">K</li>
                </ul>
                <a href="#"><button class="btn-bg-dark-blue">Book an appointment</button></a>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                </figure>
            </div>
            <div class="doctorInfo">
                <ul class="doctor2 doctor">
                    <li class="name">Shubham Shinde</li>
                    <li class="specialization">code</li>
                    <li class="certificate">b.tech</li>
                    <li class="experience">3 Years of Experience</li>
                    <li class="hospital-name"> </li>
                    <li class="location">Varanasi</li>
                </ul>
                <a href="#"><button class="btn-bg-dark-blue">Book an appointment</button></a>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                </figure>
            </div>
            <div class="doctorInfo">
                <ul class="doctor3 doctor">
                    <li class="name">Prakhar</li>
                    <li class="specialization">MBA, MBBS, FukDegree</li>
                    <li class="certificate">MBA, MBBS, FukDegree</li>
                    <li class="experience">8 Years of Experience</li>
                    <li class="hospital-name"> </li>
                    <li class="location">Greater Noida</li>
                </ul>
                <a href="#"><button class="btn-bg-dark-blue">Book an appointment</button></a>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                </figure>
            </div>
            <div class="doctorInfo">
                <ul class="doctor4 doctor">
                    <li class="name">Shubham Shinde</li>
                    <li class="specialization">fgdgf fgdfg</li>
                    <li class="certificate">fgd fgfdgd dfgdfg</li>
                    <li class="experience">5 Years of Experience</li>
                    <li class="hospital-name"> </li>
                    <li class="location">Delhi</li>
                </ul>
                <a href="#"><button class="btn-bg-dark-blue">Book an appointment</button></a>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                </figure>
            </div>
            <div class="doctorInfo">
                <ul class="doctor5 doctor">
                    <li class="name">Shubham Shinde</li>
                    <li class="specialization">3544 5345</li>
                    <li class="certificate">ft hj 67h</li>
                    <li class="experience">4 Years of Experience</li>
                    <li class="hospital-name">nothing</li>
                    <li class="location">Varanasi</li>
                </ul>
                <a href="#"><button class="btn-bg-dark-blue">Book an appointment</button></a>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                </figure>
            </div>
            <div class="doctorInfo">
                <ul class="doctor6 doctor">
                    <li class="name">NEERAJ JOSHI</li>
                    <li class="specialization">dentist</li>
                    <li class="certificate">md</li>
                    <li class="experience">20 Years of Experience</li>
                    <li class="hospital-name">AIMS</li>
                    <li class="location">New Delhi</li>
                </ul>
                <a href="#"><button class="btn-bg-dark-blue">Book an appointment</button></a>
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="">
                </figure>
            </div>
        </div>
    </section>
    <!-- section2 -->
    <section class="needHelp">
        <h2>Need Help?</h2>
        <p>Just let us know. We will be happy to assist you.</p>
        <button type="submit" class="btn-bg-blue">Submit your Query</button>
    </section>
    <!-- footer -->
    <footer>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
        </figure>
        <h5>TVASTRA</h5>
        <ul class="footerList">
            <li>Doctors</li>
            <li>Hospitals</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>FAQs</li>
        </ul>
        <h5>FOLLOW US</h5>
        <ul class="social-media">
            <li>Facebook</li>
            <li>Pinterest</li>
            <li>Twitter</li>
            <li>Google+</li>
            <li>Instagram</li>
        </ul>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
</body>

</html>