<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/style-doctor.css">
    <link rel="stylesheet" href="../assets/css/button.css">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="main-nav" id="header-view-1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <i class="fas fa-bars"></i>
        </nav>
        <nav class="main-nav" id="header-view-2">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <ul class="headerList">
                <li>Doctors</li>
                <li>Hospitals</li>
                <li>Treatments</li>
                <li>Other Services</li>
                <li>About</li>
            </ul>
            <div class="buttons">
                <a href="#"><button class="btn-bg-white">Sign Up / Login</button></a>
                <a href="#"><button class="btn-bg-dark-blue">Get a Quote</button></a>
            </div>
        </nav>
    </header>
    <!-- section1 -->
    <section class="cardiacSurgeon">
        <h5>Cardiac Surgeon in <span>Delhi</span></h5>
    </section>
    <!-- section2 -->
    <section class="sorting-section">
        <p>Home / Doctor List</p>
        <select name="sort-by" class="select-bg-grey">
            <option value="" disabled hidden selected>Sort By</option>
            <option value="name">Name</option>
            <option value="speciality">Speciality</option>
            <option value="experience">Experience</option>
        </select>
    </section>
    <div class="doctorInfoAndSortingArea">
        <!-- section3 -->
        <section class="filter">
            <div class="filterBy">
                <h6>Filter By</h6>
            </div>
            <div class="location-filter">
                <h5>Location</h5>
                <i></i>
                <div class="location-grid">
                    <input type="checkbox" name="location-option1" id="location-option1" value="DLF Cyber City">
                    <label for="location-option1">DLF Cyber City</label>
                    <input type="checkbox" name="location-option2" id="location-option2" value="Dwaraka">
                    <label for="location-option2">Dwaraka</label>
                    <input type="checkbox" name="location-option3" id="location-option3" value="Lajpat Nagar">
                    <label for="location-option3">Lajpat Nagar</label>
                    <input type="checkbox" name="location-option4" id="location-option4" value="Palam Vihar">
                    <label for="location-option4">Palam Vihar</label>
                    <input type="checkbox" name="location-option5" id="location-option5" value="Panjabi Baag">
                    <label for="location-option5">Panjabi Baag</label>
                    <input type="checkbox" name="location-option6" id="location-option6" value="Pusa Road">
                    <label for="location-option6">Pusa Road</label>
                </div>
                <h6>+ Show more</h6>
            </div>
            <div class="location-filter">
                <h5>Location</h5>
                <div class="location-grid">
                    <input type="checkbox" name="location-option1" id="location-option1" value="DLF Cyber City">
                    <label for="location-option1">DLF Cyber City</label>
                    <input type="checkbox" name="location-option2" id="location-option2" value="Dwaraka">
                    <label for="location-option2">Dwaraka</label>
                    <input type="checkbox" name="location-option3" id="location-option3" value="Lajpat Nagar">
                    <label for="location-option3">Lajpat Nagar</label>
                    <input type="checkbox" name="location-option4" id="location-option4" value="Palam Vihar">
                    <label for="location-option4">Palam Vihar</label>
                    <input type="checkbox" name="location-option5" id="location-option5" value="Panjabi Baag">
                    <label for="location-option5">Panjabi Baag</label>
                    <input type="checkbox" name="location-option6" id="location-option6" value="Pusa Road">
                    <label for="location-option6">Pusa Road</label>
                </div>
                <h6>+ Show more</h6>
            </div>
            <div class="location-filter">
                <h5>Location</h5>
                <div class="location-grid">
                    <input type="checkbox" name="location-option1" id="location-option1" value="DLF Cyber City">
                    <label for="location-option1">DLF Cyber City</label>
                    <input type="checkbox" name="location-option2" id="location-option2" value="Dwaraka">
                    <label for="location-option2">Dwaraka</label>
                    <input type="checkbox" name="location-option3" id="location-option3" value="Lajpat Nagar">
                    <label for="location-option3">Lajpat Nagar</label>
                    <input type="checkbox" name="location-option4" id="location-option4" value="Palam Vihar">
                    <label for="location-option4">Palam Vihar</label>
                    <input type="checkbox" name="location-option5" id="location-option5" value="Panjabi Baag">
                    <label for="location-option5">Panjabi Baag</label>
                    <input type="checkbox" name="location-option6" id="location-option6" value="Pusa Road">
                    <label for="location-option6">Pusa Road</label>
                </div>
                <h6>+ Show more</h6>
            </div>
            <div class="location-filter">
                <h5>Location</h5>
                <div class="location-grid">
                    <input type="checkbox" name="location-option1" id="location-option1" value="DLF Cyber City">
                    <label for="location-option1">DLF Cyber City</label>
                    <input type="checkbox" name="location-option2" id="location-option2" value="Dwaraka">
                    <label for="location-option2">Dwaraka</label>
                    <input type="checkbox" name="location-option3" id="location-option3" value="Lajpat Nagar">
                    <label for="location-option3">Lajpat Nagar</label>
                    <input type="checkbox" name="location-option4" id="location-option4" value="Palam Vihar">
                    <label for="location-option4">Palam Vihar</label>
                    <input type="checkbox" name="location-option5" id="location-option5" value="Panjabi Baag">
                    <label for="location-option5">Panjabi Baag</label>
                    <input type="checkbox" name="location-option6" id="location-option6" value="Pusa Road">
                    <label for="location-option6">Pusa Road</label>
                </div>
                <h6>+ Show more</h6>
            </div>
            <!-- <div class="treatment-filter">
                <h5>Treatment</h5>
                <div class="treatment-grid">
                <input type="checkbox" name="treatment-option1" id="treatment-option1" value="Multi Organ Transplant">
                <label for="treatment-option1">Multi Organ Transplant</label>
                <input type="checkbox" name="treatment-option2" id="treatment-option2" value="Orthopedics Surgery">
                <label for="treatment-option2">Orthopedics Surgery</label>
                <input type="checkbox" name="treatment-option3" id="treatment-option3" value="Infertility Treatment">
                <label for="treatment-option3">Infertility Treatment</label>
                <input type="checkbox" name="treatment-option4" id="treatment-option4" value="Dentistry">
                <label for="treatment-option4">Dentistry</label>
                <input type="checkbox" name="treatment-option5" id="treatment-option5" value="Cardiology">
                <label for="treatment-option5">Cardiology</label>
                <input type="checkbox" name="treatment-option6" id="treatment-option6" value="Cancer">
                <label for="treatment-option6">Cancer</label>
                </div>
                <h6>+ Show more</h6>
            </div>
            <div class="hospitals-filter ">
                <h5>Hospitals</h5>
                <input type="checkbox" name="hospitals-option1" id="hospitals-option1" value="Apollo Hospital">
                <input type="checkbox" name="hospitals-option2" id="hospitals-option2"
                    value="Manipal North Side Hospital">
                <input type="checkbox" name="hospitals-option3" id="hospitals-option3" value="Northstar">
                <input type="checkbox" name="hospitals-option4" id="hospitals-option4" value="AIIMs">
                <input type="checkbox" name="hospitals-option5" id="hospitals-option5" value="Fortis Hospital">
                <input type="checkbox" name="hospitals-option6" id="hospitals-option6" value="Elbit Diagnostics">
                <h6>+ Show more</h6>
            </div>
            <div class="experience">
                <h5>Experience</h5>
                <input type="checkbox" name="experience-option1" id="experience-option1" value="30+">
                <input type="checkbox" name="experience-option2" id="experience-option2" value="25+">
                <input type="checkbox" name="experience-option3" id="experience-option3" value="20+">
                <input type="checkbox" name="experience-option4" id="experience-option4" value="15+">
                <input type="checkbox" name="experience-option5" id="experience-option5" value="10+">
                <input type="checkbox" name="experience-option6" id="experience-option6" value="5+">
                <h6>+ Show more</h6>
            </div> -->
        </section>
        <!-- section4 -->
        <section class="doctorList">
            <div class="doctor doctor1">
                <ul class="doctorInfo">
                    <li class="name">Duke Sanson</li>
                    <li class="specialization">Neuro Surgeon</li>
                    <li class="certificate">Chain Department of Neurological Surgery</li>
                    <li class="experience">8 Years of Experience</li>
                    <li class="hospital-name">Apollo Hospitals,Delhi</li>
                    <li class="location">New Delhi, India</li>
                </ul>
                <button class="btn-bg-dark-blue">Book an Appointment</button>
                <figure class="doctor-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                </figure>
            </div>
            <div class="doctor doctor2">
                <ul class="doctorInfo">
                    <li class="name">Georgea Pater</li>
                    <li class="specialization">Breast Cancer Surgeon</li>
                    <li class="certificate">Director, UT, Southwest</li>
                    <li class="experience">8 Years of Experience</li>
                    <li class="hospital-name">Apollo Hospitals, Delhi</li>
                    <li class="location">New Delhi, India</li>
                </ul>
                <button class="btn-bg-dark-blue">Book an Appointment</button>
                <figure class="doctor-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="">
                </figure>
            </div>
            <div class="doctor doctor3">
                <ul class="doctorInfo">
                    <li class="name">Charlie Moon</li>
                    <li class="specialization">Cardiac Surgeon</li>
                    <li class="certificate">MBBS, MD, FRCP, MRCP, Fellowship</li>
                    <li class="experience">8 Years of Experience</li>
                    <li class="hospital-name">Apollo Hospitals, Delhi</li>
                    <li class="location">New Delhi, India</li>
                </ul>
                <button class="btn-bg-dark-blue">Book an Appointment</button>
                <figure class="doctor-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                </figure>
            </div>
            <div class="doctor doctor4">
                <ul class="doctorInfo">
                    <li class="name">Rose Moon</li>
                    <li class="specialization">Neuro Surgeon</li>
                    <li class="certificate">Department of Plastic and Reconstructive Surgery
                    </li>
                    <li class="experience">8 Years of Experience</li>
                    <li class="hospital-name">Apollo Hospitals, Delhi</li>
                    <li class="location">New Delhi, India</li>
                </ul>
                <button class="btn-bg-dark-blue">Book an Appointment</button>
                <figure class="doctor-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                </figure>
            </div>
            <div class="doctor doctor5">
                <ul class="doctorInfo">
                    <li class="name">Duke Sanson</li>
                    <li class="specialization">Neuro Surgeon</li>
                    <li class="certificate">
                        Chain Department of Neurological Surgery
                    </li>
                    <li class="experience">8 Years of Experience</li>
                    <li class="hospital-name">Apollo Hospitals, Delhi</li>
                    <li class="location">New Delhi, India</li>
                </ul>
                <button class="btn-bg-dark-blue">Book an Appointment</button>
                <figure class="doctor-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                </figure>
            </div>
            <div class="doctor doctor6">
                <ul class="doctorInfo">
                    <li class="name">Charlie Moon</li>
                    <li class="specialization">Cardiac Surgeon</li>
                    <li class="certificate">
                        Department of Plastic and Reconstructive Surgery
                    </li>
                    <li class="experience">8 Years of Experience</li>
                    <li class="hospital-name">Apollo Hospitals, Delhi</li>
                    <li class="location">New Delhi, India</li>
                </ul>
                <button class="btn-bg-dark-blue">Book an Appointment</button>
                <figure class="doctor-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                </figure>
            </div>
        </section>
    </div>
    <!-- section5 -->
    <section class="needHelp">
        <h2>Need Help?</h2>
        <p>Just let us know, we will happy to assist you</p>
        <button type="submit" class="btn-bg-blue">Submit your enquiry</button>
    </section>
    <!-- footer -->
    <footer id="footer-view-1">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
        </figure>
        <h3>TVASTRA</h3>
        <ul class="footerList">
            <li>Doctor</li>
            <li>Hospital</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>FAQs</li>
        </ul>
        <h3>FOLLOW US</h3>
        <ul class="social-media-list">
            <li>Facebook</li>
            <li>Pinterest</li>
            <li>Twitter</li>
            <li>Google+</li>
            <li>Instagram</li>
        </ul>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
    <footer id="footer-view-2">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
        </figure>
        <ul class="footerList">
            <li>Doctor</li>
            <li>Hospital</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>FAQs</li>
        </ul>
        <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
</body>

</html>