<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
</head>

<body>
    <header>
        <nav class="main-nav">
            <div class="wrapper1">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </div>
            <i class="fas fa-bars"></i>
        </nav>
    </header>
    <!-- section1 -->
    <section class="container1">
        <h1>Find Affordable Healthcare</h1>
        <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford
        </p>
        <form action="">
            <div class="block">
                <input type="text" name="location" class="location" placeholder="Ahemdabad">
                <i class="fas fa-crosshairs"></i>
            </div>
            <input type="text" name="facility" class="facility"
                placeholder="Search for Doctors, hospitals and treatments">
            <button type="submit" class="btn-dark">Search</button>
        </form>
    </section>
    <!-- section2 -->
    <section class="container2">
        <h2>How it works</h2>
        <p>Various facilities are provided here. But there is a protocol hich needs to be followed so that you get the
            service at its best.</p>
        <div class="boxes">
            <div class="box box1">
                <h4>01</h4>
                <h5>Fix Consultation</h5>
            </div>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="">
                <figcaption>Fix Consultation</figcaption>
                <p>This depicts that user will have to fix appointment first hen it selects a particular doctor.</p>
            </figure>
            <div class="box box2">
                <h4>02</h4>
                <h5>Upload Medical Reports</h5>
            </div>
            <div class="box box3">
                <h4>03</h4>
                <h5>Consult with doctor</h5>
            </div>
            <div class="box box4">
                <h4>04</h4>
                <h5>Fix Surgery</h5>
            </div>
            <div class="box box5">
                <h4>05</h4>
                <h5>Hospital sent estimates</h5>
            </div>
            <div class="box box6">
                <h4>06</h4>
                <h5>Payment</h5>
            </div>
            <div class="box box7">
                <h4>07</h4>
                <h5>Surgery Completed</h5>
            </div>
        </div>
    </section>
    <!-- section3 -->
    <section class="container3">
        <h3>World Class Expert Doctors!</h3>
        <p>The university of Texas Southeaster Medical center has been a long world-renowned research hospital. But
            untill
            the '80s, you couldn't go there.Now, with the addition of Aston Center and Zale Lipshy Hospital, UT
            Southeastern
            is also a mecca for patients.</p>
        <div class="pictures">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="">
                <h6>
                    <span>___Duke Sanson</span>
                    Nuero Surgeon
                    Chain Department of Neurological Surgery
                    Australia
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="">
                <h6>
                    <span>___Georgea Peter</span>
                    Breast Cancer Surgeon
                    Director, UT, Southwestern
                    London
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                <h6>
                    <span>___Charlie Moon</span>
                    Cardiac Surgeon
                    MBBS, MD, FRCP, MRCP, Fellowship
                    New Delhi, India
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                <h6>
                    <span>___Rose Moon</span>
                    Plastic Surgeon
                    Department of Plastic and Reconstructive Surgery
                    Dubai
                </h6>
            </figure>
        </div>
    </section>
    <!-- section4 -->
    <section class="container4">
        <h3>Featured Medical Treatment</h3>
        <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford
        </p>
        <div class="images">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="">
                <h6>
                    <span>Dentistry</span>
                    50+ Specialists
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                <h6>
                    <span>Cancer</span>
                    50+ Specialists
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                <h6>
                    <span>Cardiologic Treatment</span>
                    50+ Specialists
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                <h6>
                    <span>Multi Oragen Transplant</span>
                    50+ Specialists
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                <h6>
                    <span>Orthopedics Surgery</span>
                    50+ Specialists
                </h6>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="">
                <h6>
                    <span>Infertility Treatment</span>
                    50+ Specialists
                </h6>
            </figure>
        </div>
    </section>
    <!-- section5 -->
    <section class="container5">
        <h2>Exclusive services</h2>
        <p>We want you to be comfartable and thus apart from threating you illness, we provide you with other services
            that you can see</p>
        <div class="icons">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="">
                <figcaption>TRAVEL</figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="">
                <figcaption>FOOD</figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="">
                <figcaption>ACCOMODATION</figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="">
                <figcaption>LABS</figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="">
                <figcaption>REPORTS</figcaption>
            </figure>
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="">
                <figcaption>AMBULANCE</figcaption>
            </figure>
        </div>
    </section>
    <!-- section6 -->
    <section class="container6">
        <h2>Need Help?</h2>
        <p>Just let us kno, we will be happy to assist you</p>
        <button type="submit" class="btn-moderate">Submit your enquiry</button>
    </section>
    <!-- footer -->
    <footer>
        <div class="wrapper1">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="">
        </div>
        <ul class="ul2">
            <li>Doctor</li>
            <li>Hospital</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>FAQs</li>
        </ul>
        <div class="social">
            <i class="fas fa-facebook-f"></i>
            <i class="fas fa-pinterest-p"></i>
            <i class="fas fa-twitter"></i>
            <i class="fas fa-google-plus-g"></i>
            <i class="fas fa-instagram"></i>
        </div>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
</body>

</html>