<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/style-login.css">
    <link rel="stylesheet" href="../assets/css/button.css">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="main-nav" id="header-view-1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <i class="fas fa-bars"></i>
        </nav>
        <nav class="main-nav" id="header-view-2">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <ol class="headerList">
                <li>Doctors</li>
                <li>Hospitals</li>
                <li>Treatments</li>
                <li>Other Services</li>
                <li>About</li>
            </ol>
            <div class="buttons">
                <a href="#"><button class="btn-bg-white">Sign Up / Login</button></a>
                <a href="#"><button class="btn-bg-dark-blue">Get a Quote</button></a>
            </div>
        </nav>
    </header>
    <!-- section1 -->
    <section class="login">
        <h1>Login</h1>
        <form action="" class="login-form">
            
            <div class="login-form-inputs">
                <div class="inputBox1">
                    <input type="text" name="mobile-number" placeholder="Enter Mobile No" class="mobile-number">
                    <i class="fas fa-question-circle"></i>
                </div>
                <input type="text" name="otp" placeholder="Enter OTP" class="otp">
                <button type="submit" class="btn-bg-dark-blue">LOGIN</button>
                <p>Not Registered? <a href="#">Sign Up</a></p>
            </div>
        </form>
    </section>
    <!-- footer -->
    <footer>
        <h6>All Rights Reserved. &copy Tvastra 2020</h6>
    </footer>
</body>

</html>