<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/style-signup.css">
    <link rel="stylesheet" href="../assets/css/button.css">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="main-nav" id="header-view-1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <i class="fas fa-bars"></i>
        </nav>
        <nav class="main-nav" id="header-view-2">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="">
            </figure>
            <ol class="headerList">
                <li>Doctors</li>
                <li>Hospitals</li>
                <li>Treatments</li>
                <li>Other Services</li>
                <li>About</li>
            </ol>
            <div class="buttons">
                <a href="#"><button class="btn-bg-white">Sign Up / Login</button></a>
                <a href="#"><button class="btn-bg-dark-blue">Get a Quote</button></a>
            </div>
        </nav>
    </header>
    <!-- section1 -->
    <section class="signup">
        <h1>Sign Up</h1>
        <form action="" class="signup-form">
            <input type="text" name="name" class="name" placeholder="Enter Name">
            <input type="email" name="email" class="email" placeholder="Enter Email">
            <input type="password" name="password" class="password" placeholder="Enter Password">
            <select name="gender" class="select-bg-white">
                <option value="" disabled hidden selected>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
            <input type="text" name="date" class="date" placeholder="dd / mm / yyyy">
            <input type="text" name="mobile-number" class="mobile-number" placeholder="Enter Phone Number">
            <input type="text" name="city" class="city" placeholder="Enter City">
            <input type="text" name="state" class="state" placeholder="Enter State">
            <select name="gender" class="select-bg-white">
                <option value="" disabled hidden selected>Select your country</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
            <button type="submit" class="btn-bg-dark-blue">SIGN UP</button>
            <p>Already Registered? <a href="#">Login</a></p>
        </form>
    </section>
    <!-- footer -->
    <footer>
        <h6>All Rights Reserved. &copy Tvastra 2020</h6>
    </footer>
</body>

</html>