<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/scss/reset.css">
    <link rel="stylesheet" href="../assets/scss/theme.css">
    <link rel="stylesheet" href="../assets/scss/header.css">
    <link rel="stylesheet" href="../assets/scss/signup.css">
    <link rel="stylesheet" href="../assets/scss/button.css">
  </head>
  <body>
    
    <!-- header -->
    <header>
      <div class="container">
        <nav class="main-nav" id="header-1">
          <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="" />
          </figure>
          <i class="fas fa-bars"></i>
        </nav>
      </div>
      <div class="container">
        <nav class="main-nav" id="header-2">
          <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="" />
          </figure>
          <ul class="headerList">
            <li><a href="../views/doctor.html">Doctors</a></li>
            <li><a href="../views/hospital.html">Hospitals</a></li>
            <li><a href="../views/dentistry.html">Treatments</a></li>
            <li><a href="../views/FAQ.html">Other Services</a></li>
            <li><a href="../views/about-us.html">About</a></li>
          </ul>
          <div class="buttons">
            <button id="list-btn">Login / Sign Up</button>
            <button id="accent-btn">Get a Quote</button>
          </div>
        </nav>
      </div>
    </header>

    <!-- section1 -->
    <section class="signup">
      <div class="container">
        <h3>Sign Up</h3>
        <div class="signup-details">
          <input type="text" name="name" placeholder="Enter Name" id="name">
          <input type="email" name="email" placeholder="Enter Email" id="email">
          <input type="password" name="password" placeholder="Enter Password" id="Enter Password">
         <div class="select-box">
          <select name="gender" id="gender">
            <option value="gender" disabled hidden selected>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <span>
            <i class="fas fa-chevron-down"></i>
          </span>
         </div>
          <input type="date" name="date" id="date">
          <input type="text" name="number" placeholder="Enter Phone Number" id="number">
          <div class="inputBox">
            <input type="text" name="city" placeholder="Enter City" id="city">
            <input type="text" name="state" placeholder="Enter State" id="state">
          </div>
          <div class="select-box">
            <select name="country" id="country">
              <option value="country" selected hidden disabled>Select your Country</option>
              <option value="india">India</option>
              <option value="australia">Australia</option>
              <option value="nepal">Nepal</option>
              <option value="bhutan">Bhutan</option>
            </select>
            <span>
              <i class="fas fa-chevron-down"></i>
            </span>
          </div>
          <button type="submit" id="accent-btn">SIGN UP</button>
          <span>Already Registered? <a href="#">Login</a></span>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer>
      <span>All Rights Reserved. &copy Tvastra 2020</span>
    </footer>
  </body>
</html>

