<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/scss/reset.css" />
    <link rel="stylesheet" href="../assets/scss/theme.css" />
    <link rel="stylesheet" href="../assets/scss/button.css" />
    <link rel="stylesheet" href="../assets/scss/header.css" />
    <link rel="stylesheet" href="../assets/scss/style.css" />
    <link rel="stylesheet" href="../assets/scss/button.css" />
    <link rel="stylesheet" href="../assets/scss/footer.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="container">
        <nav class="main-nav" id="header-1">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <i class="fas fa-bars"></i>
        </nav>
      </div>
      <div class="container">
        <nav class="main-nav" id="header-2">
          <figure>
            <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
              alt=""
            />
          </figure>
          <ul class="headerList">
            <li><a href="../views/doctor.html">Doctors</a></li>
            <li><a href="../views/hospital.html">Hospitals</a></li>
            <li><a href="../views/dentistry.html">Treatments</a></li>
            <li><a href="../views/FAQ.html">Other Services</a></li>
            <li><a href="../views/about-us.html">About</a></li>
          </ul>
          <div class="buttons">
            <button id="list-btn">Login / Sign Up</button>
            <button id="accent-btn">Get a Quote</button>
          </div>
        </nav>
      </div>
    </header>

    <!-- section1 -->
    <section class="introduction">
      <div class="container">
        <button id="field-btn">PLUS</button>
        <h4>Healthcare plans for you and your family.</h4>
        <p>
          Become a Tvastra Plus Member and save 60% off on your yearly health
          expenses
        </p>
      </div>
    </section>

    <!-- section2 -->
    <section class="plans">
      <div class="container">
        <h4>Select a Tvastra Plus healthcare plan</h4>
        <p>ALl Plus plans are for 4 adults and 2 children</p>
        <ul id="basic-plan" class="plan">
          <li id="heading">Basic Plan</li>
          <li>Unlimited Consultation with any speciality</li>
          <li>20% Off on prescription medicines</li>
          <li>20% Off on tests & checkups</li>
          <li id="cost">2,999/year</li>
          <li id="link">View Plan Details</li>
          <li>
            <button id="field-btn"><a href="#">Buy Plan</a></button>
          </li>
        </ul>
        <ul id="advance-plan" class="plan">
          <span id="token">Popular</span>
          <li id="heading">Advanced Plan</li>
          <li>Unlimited Consultation with any speciality</li>
          <li>20% Off on prescription medicines</li>
          <li>20% Off on tests & checkups</li>
          <li>100 Free In-Clinic consultations</li>
          <li id="cost">3,999/year</li>
          <li id="link">View Plan Details</li>
          <li>
            <button id="field-btn"><a href="#">Buy Plan</a></button>
          </li>
        </ul>
        <ul id="comprehensive-plan" class="plan">
          <li id="heading">Comprehensive Plan</li>
          <li>Unlimited Consultation with any speciality</li>
          <li>20% Off on prescription medicines</li>
          <li>20% Off on tests & checkups</li>
          <li>100 Free In-Clinic consultations</li>
          <li>2 Master health checkups</li>
          <li id="cost">5,999/year</li>
          <li id="link">View Plan Details</li>
          <li>
            <button id="field-btn"><a href="#">Buy Plan</a></button>
          </li>
        </ul>
      </div>
    </section>

    <!-- section3 -->
    <section class="users">
      <h4>Trusted by 2 Crore+ users every month</h4>
      <p>
        Tvastra is the leading healthcare technology company in India. We began
        in 2009 and today we help 2 crore customers every month.
      </p>
      <ul class="rating">
        <li id="rate">4.5</li>
        <li>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </li>
        <li>1000+ Reviews</li>
      </ul>
      <ul class="benefitsOfPlusMembership">
        <li id="user">
          <i class="fas fa-users"></i>
          <span id="key">2 Crore+</span>
          <span id="value">Monthly Customers</span>
        </li>
        <li id="doctor">
          <i class="fas fa-user-md"></i>
          <span id="key">100,000+</span>
          <span id="value">Verified Doctors</span>
        </li>
        <li id="medicine">
          <i class="fas fa-pills"></i>
          <span id="key">10 Lakh+</span>
          <span id="value">Medicine Orders Delivered</span>
        </li>
        <li id="appointment">
          <i class="fas fa-pills"></i>
          <span id="key">5 Crore+</span>
          <span id="value">Doctor Appointments</span>
        </li>
        <li>Benefits of Plus Membership</li>
      </ul>

      <ul class="consultation">
        <li>
          <h4>Zero fees for in-clinic consultation</h4>
          <p>
            Consult with 30000+ specialist doctors at top clinics & hospitals in
            the PLUS network at Rs.0 consultation fees*
          </p>
          <p>Upto 0 in-clinic consultations </p>
        </li>
      </ul>
    </section>
    <!-- footer -->
    <footer>
      <div class="container">
        <figure>
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
            alt=""
          />
        </figure>
        <ul class="footerList">
          <li><a href="#">Doctors</a></li>
          <li><a href="#">Hospitals</a></li>
          <li><a href="#">Treatments</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
        <div class="social-media">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
        <span>All Rights are Reserved. &copy tvastra 2018</span>
      </div>
    </footer>
    <script src="../../script.js"></script>
  </body>
</html>
