.btn-bg-dark-blue{
    background: var(--dark-blue);
    color:var(--white);
    letter-spacing: 0.125rem;
    padding: 0.8rem 2rem;
}
.btn-bg-blue{
    background: var(--blue);
    font-size: 1.1rem;
    color:var(--white);
    width:15rem;
    height: 4rem;
    padding:0;
    border-radius: 0.3125rem;
    box-sizing: content-box;
}
.btn-bg-white{
    background: var(--white);
    color:var(--dark-blue);
    padding: 0.675rem .75rem;
    border:0.125rem solid var(--dark-blue);
}