* {
    box-sizing: border-box;
}
body {
    background: var(--light-blue);
}
/* header */
#header-view-2 {
    display: none;
}
#header-view-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 0.8rem;
    background: var(--white);
}
.main-nav figure {
    margin: 0;
    height: auto;
    width: 8rem;
}
.main-nav i {
    color: var(--dark-grey);
    display: flex;
    justify-self: flex-end;
    align-self: center;
}
/* section1 */
.signup h1 {
    flex-shrink: 1;
    padding: 1rem 0;
    background-color: var(--white);
    margin: 0;
    color: var(--blue);
    border-bottom: 0.125rem solid var(--light-grey);
}
.signup-form {
    flex-shrink: 1;
    background: var(--white);
    padding: 0.8rem;
}
.signup-form input,
.signup-form select {
    flex-shrink: 1;
    border: 0.125rem solid var(--light-grey);
}
.signup-form input::placeholder {
    font-family: nexa-bold;
    font-size: 1.1rem;
}
.signup-form .btn-bg-dark-blue {
    width: 100%;
    position: relative;
    font-family: nexa-bold;
    font-size: 1.1rem;
    border-radius: 0;
}
.signup-form .btn-bg-dark-blue::after {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 700;
    position: absolute;
    padding-right: 0.5rem;
    right: 0;
}
.signup-form p {
    font-size: 1rem;
    padding-top: 2rem;
    margin: 0;
}
.signup-form p a {
    font-family: nexa-bold;
    color: var(--blue);
}

/* footer */
footer {
    padding: 1.5rem 0.8rem;
}
footer h6 {
    margin: 0;
    text-align: center;
}

@media only screen and (min-width: 1025px) {
    /* header */
    #header-view-1 {
        display: none;
    }
    #header-view-2 {
        background-color: white;
        padding: 2rem 4rem;
        display: grid;
        grid-template-columns: 0.5fr 1.25fr 1fr;
    }
    .headerList {
        display: flex;
        justify-content: space-between;
    }
    .headerList li {
        margin: 0;
        display: block;
        margin: auto auto auto auto;
    }
    .main-nav figure {
        width: 12rem;
    }
    .main-nav .buttons {
        display: block;
        margin: auto 0 auto auto;
    }
    .buttons .btn-bg-dark-blue {
        padding: 0.8rem 1.5rem;
    }
    .signup{
        width:50vw;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}
