* {
    box-sizing: border-box;
}
body {
    background: var(--light-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.login {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}
/* header */
#header-view-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 0.8rem;
    background: var(--white);
}
#header-view-2 {
    display: none;
}
.main-nav figure {
    margin: 0.3rem 0;
    width: 10rem;
    height: auto;
}
.main-nav i {
    color: var(--dark-grey);
    display: flex;
    justify-self: end;
    align-self: center;
}
/* section1 */

.login h1 {
    color: var(--blue);
    background: var(--white);
    padding: 0.5rem 0;
    border-bottom: 0.125rem solid var(--light-grey);
    margin: 0;
}
.login-form {
    padding: 0.8rem;
    background: var(--white);
}
.inputBox1 {
    display: flex;
    border: 0.125rem solid var(--light-grey);
    margin-bottom: 0.625rem;
}
.inputBox1 .mobile-number {
    margin: 0;
}
.inputBox1 i {
    display: flex;
    align-self: center;
    color: var(--light-grey);
    padding-right: 0.5rem;
    font-size: 1.3rem;
}
.login-form-inputs .otp {
    border: 0.125rem solid var(--light-grey);
}
.login-form-inputs input::placeholder {
    font-family: nexa-bold;
}
.login-form-inputs .btn-bg-dark-blue {
    width: 100%;
    position: relative;
    font-family: nexa-bold;
    font-size: 1.1rem;
    border-radius: 0;
}
.login-form-inputs .btn-bg-dark-blue::after {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 700;
    position: absolute;
    padding-right: 0.5rem;
    right: 0;
}
.login-form-inputs p {
    font-size: 1rem;
    padding-top: 1rem;
    margin: 0;
}
.login-form-inputs p a {
    font-family: nexa-bold;
    color: var(--blue);
}
/* footer */
footer {
    padding: 1.5rem 0.8rem;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
    font-family: nexa-bold;
    color: var(--dark-blue);
}

@media only screen and (min-width: 1025px) {
    /* header */
    #header-view-1 {
        display: none;
    }
    #header-view-2 {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 2rem 4rem;
        background: var(--white);
    }
    .headerList {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-weight: 700;
    }
    .buttons .btn-bg-dark-blue {
        padding: 0.8rem 0.75rem;
    }
}
