* {
    box-sizing: border-box;
}
body {
    background: var(--light-blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* header */
#header-view-2 {
    display: none;
}
#header-view-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 0.8rem;
    background: var(--white);
}
.main-nav figure {
    margin: 0.3rem 0;
    height: auto;
    width: 10rem;
}
.main-nav i {
    color: var(--dark-grey);
    display: flex;
    justify-self: flex-end;
    align-self: center;
}
/* section1 */
.signup h1 {
    flex-shrink: 1;
    padding: 1rem 0;
    background-color: var(--white);
    margin: 0;
    color: var(--blue);
    border-bottom: 0.125rem solid var(--light-grey);
}
.signup-form {
    flex-shrink: 1;
    background: var(--white);
    padding: 0.8rem;
}
.signup-form input,
.signup-form select {
    flex-shrink: 1;
    border: 0.125rem solid var(--light-grey);
}
.signup-form input::placeholder {
    font-family: nexa-bold;
    font-size: 1.1rem;
}
.signup-form select{
    font-family: nexa-bold;
    color:var(--light-grey)
}
.signup-form .btn-bg-dark-blue {
    width: 100%;
    position: relative;
    font-family: nexa-bold;
    font-size: 1.1rem;
    border-radius: 0;
}
.signup-form .btn-bg-dark-blue::after {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 700;
    position: absolute;
    padding-right: 0.5rem;
    right: 0;
}
.signup-form p {
    font-size: 1rem;
    padding-top: 2rem;
    margin: 0;
}
.signup-form p a {
    font-family: nexa-bold;
    color: var(--blue);
}

/* footer */
footer {
    padding: 1.5rem 0.8rem;
}
footer p {
    margin: 0;
    font-size: 1rem;
    font-family: nexa-bold;
    color: var(--dark-blue);
    text-align: center;
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .signup{
        width:70%;
        margin: auto;
    }
}
@media only screen and (min-width: 1025px) {
    /* header */
    #header-view-1 {
        display: none;
    }
    #header-view-2 {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 2rem 4rem;
        background: var(--white);
    }
    .headerList {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-weight: 700;
    }
    .buttons .btn-bg-dark-blue {
        padding: 0.8rem 0.75rem;
    }
    .signup{
        width:50vw;
        margin: auto;
        text-align: center;
    }
}
