/* CSS Varaibles */
:root{
    --dark:#021433;
    --moderate:#0099ff;
    --light:#8fcaf1;
    --grey:#cccccc;
    --dark-grey:#636668;
    --font:#525659;
}
/* font-family */
@font-face {
    font-family: Nexa-Bold;
    src: url(../fonts/Nexa-Bold.otf) format("opentype");
}

@font-face {
    font-family: Nexa-Light;
    src: url(../fonts/Nexa-Light.otf) format("opentype");
}
/* HTML Tags */
*{
    box-sizing: border-box;
}
img{
    width:100%;
    height: 100%;
    object-fit: fill;    
}
section{
    padding:2rem 0.8rem;
    text-align: center;
}
h1,h2{
    font-family: nexa-bold;
    font-size: 2rem;
    line-height: 2.4rem;
    color:var(--dark);
    margin-bottom: .625rem;
}
h3{
    font-family: nexa-bold;
    font-size:1.5rem;
    line-height: 2rem;
    color:var(--dark);
    margin-bottom: 0.625rem;
}
h4,h5{
    font-family:nexa-bold;
    font-size: 1.1rem;
    line-height:1.4rem;
    margin-bottom: 0.625rem;
    color:var(--grey);
}
h6{
    font-family:nexa-light;
    font-size: 0.85rem;
    line-height:1rem;
    margin-bottom: 0.25rem;
    color:var(--font);
}
p{
    font-family: nexa-light;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color:var(--font);
    margin-bottom: 0.625rem;
}
input{
    padding: 0.8rem 0.5rem;
    width:100%;
    border:none;
    font-family: nexa-light;
    font-size: 1.1rem;
    line-height: 1.4rem;
}
input:focus{
    outline: none;
}
input::placeholder{
    font-size: 0.75rem;
    line-height: 1rem;
}
button{
    background: transparent;
    padding:0.8rem 0.8rem;
    font-family: nexa-light;
    font-size: 1rem;
    border:none;
    outline: none;
}
figure{
    margin: 1rem 0;
}
figcaption{
    color:var(--dark);
    font-family: nexa-bold;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.625rem;
}
span{
    font-family: nexa-bold;
    font-size: 1.25rem;
    line-height: 1.4rem;
    color:var(--moderate);
}
ul{
    font-family: nexa-light;
    font-size: 1.25rem;
    line-height: 1.4rem;
    color:var(--grey);
}
i{
    color:var(--font);
}
label{
    font-family: nexa-light;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color:var(--dark)
}