/* css varaibles */
:root{
    --dark-blue:#021433;
    --blue:#0099ff;
    --light-blue:#8fcaf1;
    --dark-grey:#525659;
    --grey:#636668;
    --light-grey:#cccccc;
    --white:#ffffff;
    --background-grey:#f3f3f3;
}

/* fonts */
@font-face{
    font-family: nexa-bold;
    src:url(../fonts/Nexa-Bold.otf)format("opentype");
}
@font-face{
    font-family: nexa-light;
    src:url(../fonts/Nexa-Light.otf)format("opentype");
}
/* global tags */
*{
    box-sizing: border-box;
}
img{
    width:100%;
    height:100%;
    object-fit: fill;
}
section{
    padding:1.5rem 0.8rem;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: nexa-bold;
    color:var(--dark-blue);
}
h1,h2{
    font-size:2rem;
    line-height: 2.4rem;
    margin-bottom: 0.625rem;
}
h3{
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0.625rem;
}
h4{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.625rem;
}
h5{
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 0.3125rem;
}
h6{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 0.3125rem;
}
p{
    font-family: nexa-light;
    font-size: 1.15rem;
    line-height: 1.4rem;
    color: var(--grey);
    margin-bottom: 0.625rem;
}
input,select{
    font-family: nexa-light;
    padding: 0.8rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    width: 100%;
    color: var(--grey);
    border:none;
    outline: none;
    margin-bottom: 0.625rem ;
}
input::placeholder{
    font-size: 0.9rem;
    color:var(--light-grey);
}
input:focus,select:focus{
    outline: none;
}
button{
    font-family: nexa-light;
    font-size: 1rem;
    line-height: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 3rem;
}
figure{
    margin-top: 1.25rem;
}
figcaption{
    font-family: nexa-bold;
    color:var(--dark-blue);
    font-size: 1.3rem;
    margin: 0.3125rem 0;
}
span{
    font-family: nexa-bold;
    color:var(--light-grey);
    font-size: 1.2rem;
    margin-left: 0.3125rem;
}
ul li{
    font-size: 1.25rem;
    font-family: nexa-light;
    color:var(--grey);
    line-height: 1.5rem;
}
label{
    font-family: nexa-light;
    font-size: 1rem;
}
a{
    text-decoration: none;
}
table{
    width:100%;
    font-size: 1rem;
    font-family: nexa-bold;
}

@media only screen and (min-width:768px) and (max-width:1024px){
    section{
        padding: 2rem;
    }
    h1,h2{
        font-size:2.2rem;
        line-height: 2.6rem;
    }
    h3{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    h4{
        font-size: 1.6rem;
        line-height: 2rem;
    }
    h5{
        font-size: 1.4rem;
        line-height: 1.8rem;;
    }
    h6{
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    p{
        font-family: nexa-light;
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: var(--grey);
        margin-bottom: 1.25rem;
    }
    span{
        font-size: 1.4rem;
    }
}

@media only screen and (min-width:1025px){
    section{
        padding: 3rem 4rem;
        text-align: left;
    }
    h1,h2{
        font-size:2.4rem;
        line-height: 2.8rem;
        margin-bottom: 1rem;
    }
    h3{
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 1rem;
    }
    h4{
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }
    h5{
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 0.5rem;
    }
    h6{
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-bottom: 0.5rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 2rem;
    }
    span{
        font-size: 1.6rem;
    }
}
